# DATA LOAD

In [28]:
import pandas as pd
import numpy as np

In [65]:
# df = pd.read_csv('dataset/seodaemoongu.csv')
# df.columns = df.iloc[0]
# df = df.drop(df.index[0])
# df.to_csv('seodaemoongu.csv', index=False, encoding='utf-8-sig')

In [70]:
# import pandas as pd
# import glob

# # 모든 CSV 파일 찾기
# csv_files = glob.glob('dataset/*.csv')

# # 빈 리스트 생성
# dataframes = []

# # 각 파일을 읽어서 리스트에 추가
# for file in csv_files:
#     df = pd.read_csv(file, low_memory=False)
#     dataframes.append(df)

# # 모든 데이터프레임 합치기
# combined_df = pd.concat(dataframes, ignore_index=True)

# # 합친 결과를 새 CSV로 저장
# combined_df.to_csv('dataset/Seoul_Buildings.csv', index=False, encoding='utf-8-sig')

# print(f"총 {len(csv_files)}개 파일을 합쳤습니다.")
# print(f"합친 데이터 행 수: {len(combined_df)}")

총 3개 파일을 합쳤습니다.
합친 데이터 행 수: 589347

In [83]:
df = pd.read_csv('dataset/Fire_2023.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5671 entries, 0 to 5670
Data columns (total 72 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   wrinvstg_no           5671 non-null   int64
 1   fire_type_nm          5671 non-null   object
 2   buld_srtfrm           4337 non-null   object
 3   buld_strctr           4337 non-null   object
 4   buld_srtrf            4337 non-null   object
 5   buld_strct_dong_cnt   3804 non-null   float64
 6   ground_nof            4337 non-null   float64
 7   bstory_cnt            4209 non-null   float64
 8   totar                 4337 non-null   float64
 9   bottom_area           4337 non-null   float64
 10  buld_sttus_nm         4334 non-null   object
 11  dth_cnt               5671 non-null   int64
 12  injpsn_cnt            5671 non-null   int64
 13  dth_hnl_dmge_cnt      5671 non-null   int64
 14  prprty_dmge_amt       5671 non-null   int64
 15  fire_ocrn_yr          5671 non-null   int64
 16  season_se_nm          5671 non-null   object
 17  qtr_se                5671 non-null   int64
 18  fire_ocrn_ymd         5671 non-null   int64
 19  fire_ocrn_tm          5671 non-null   int64
 20  fire_ocrn_mnth        5671 non-null   int64
 21  fire_ocrn_day         5671 non-null   int64
 22  fire_ocrn_hour        5671 non-null   int64
 23  fire_ocrn_min         5671 non-null   int64
 24  daywk                 5671 non-null   object
 25  frstt_nm              5671 non-null   object
 26  ward_nm               5670 non-null   object
 27  lfdau_nm              0 non-null      float64
 28  dsp_reqre_time        5671 non-null   int64
 29  fire_supesn_time      5671 non-null   int64
 30  sido_nm               5671 non-null   object
 31  sigungu_nm            5671 non-null   object
 32  emd_nm                5671 non-null   object
 33  cty_frmvl_se_nm       5671 non-null   object
 34  emd_se_nm             5671 non-null   object
 35  gis_x_axis            5646 non-null   float64
 36  gis_y_axis            5646 non-null   float64
 37  longitude             0 non-null      float64
 38  la                    0 non-null      float64
 39  spt_frstt_dist        5671 non-null   float64
 40  spt_safe_cnter_dist   5671 non-null   float64
 41  spt_lfdau_dist        5670 non-null   float64
 42  ign_htsrc_nm          5671 non-null   object
 43  ign_htsrc_sclas_nm    5671 non-null   object
 44  ign_fctr_lclas_nm     5671 non-null   object
 45  ign_fctr_sclas_nm     5671 non-null   object
 46  frst_igobj_lclas_nm   5671 non-null   object
 47  frst_igobj_sclas_nm   5671 non-null   object
 48  ign_mhrls_lclas_nm    1209 non-null   object
 49  ign_mhrls_sclas_nm    1209 non-null   object
 50  cmbs_expobj_lclas_nm  391 non-null    object
 51  cmbs_expobj_sclas_nm  391 non-null    object
 52  fclty_place_lclas_nm  5671 non-null   object
 53  fclty_place_mclas_nm  5671 non-null   object
 54  fclty_place_sclas_nm  5671 non-null   object
 55  ign_floor_nm          4334 non-null   float64
 56  soot_area             4479 non-null   float64
 57  fio_join_trgt_yn      5671 non-null   object
 58  frmng_trgt_yn         5671 non-null   object
 59  mub_yn                5671 non-null   object
 60  emrg_crg_oper_yn      5671 non-null   object
 61  vhcle_place           373 non-null    object
 62  vhcle_ign_bhf         373 non-null    object
 63  fld_fire_se           16 non-null     object
 64  fld_fire_ign_bhf      16 non-null     object
 65  time_unit_tmprt       5671 non-null   float64
 66  time_unit_rainqty     597 non-null    float64
 67  time_unit_ws          5650 non-null   float64
 68  time_unit_wd          5650 non-null   float64
 69  time_unit_humidity    5671 non-null   int64
 70  time_unit_msnf        157 non-null    float64
 71  time_unit             5671 non-null   int64
dtypes: float64(20), int64(17), object(35)
memory usage: 3.1+ MB

In [81]:
df1 = pd.read_csv('dataset/Seoul_Fire_2023.csv',encoding='cp949')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5671 entries, 0 to 5670
Data columns (total 72 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   GRID_ID                    5646 non-null   object
 1   WRINVSTG_NO                5671 non-null   int64
 2   FIRE_TYPE_NM               5671 non-null   object
 3   BULD_SRTFRM                4337 non-null   object
 4   BULD_STRCTR                4337 non-null   object
 5   BULD_SRTRF                 4337 non-null   object
 6   BULD_STRCT_DONG_CNT        3804 non-null   float64
 7   GROUND_NOF                 4337 non-null   float64
 8   BSTORY_CNT                 4209 non-null   float64
 9   TOTAR                      4337 non-null   float64
 10  BOTTOM_AREA                4337 non-null   float64
 11  BULD_STTUS_NM              4334 non-null   object
 12  DTH_CNT                    5671 non-null   int64
 13  INJPSN_CNT                 5671 non-null   int64
 14  DTH_HNL_DMGE_CNT           5671 non-null   int64
 15  PRPRTY_DMGE_AMT            5671 non-null   int64
 16  FIRE_OCRN_YR               5671 non-null   int64
 17  SEASON_SE_NM               5671 non-null   object
 18  QTR_SE                     5671 non-null   int64
 19  FIRE_OCRN_YMD              5671 non-null   int64
 20  FIRE_OCRN_TM               5671 non-null   int64
 21  FIRE_OCRN_MNTH             5671 non-null   int64
 22  FIRE_OCRN_DAY              5671 non-null   int64
 23  FIRE_OCRN_HOUR             5671 non-null   int64
 24  FIRE_OCRN_MIN              5671 non-null   int64
 25  DAYWK                      5671 non-null   object
 26  FRSTT_NM                   5671 non-null   object
 27  WARD_NM                    5670 non-null   object
 28  LFDAU_NM                   0 non-null      float64
 29  DSP_REQRE_TIME             5671 non-null   int64
 30  FIRE_SUPESN_TIME           5671 non-null   int64
 31  SIDO_NM                    5671 non-null   object
 32  SIGUNGU_NM                 5671 non-null   object
 33  EMD_NM                     5671 non-null   object
 34  CTY_FRMVL_SE_NM            5671 non-null   object
 35  EMD_SE_NM                  5671 non-null   object
 36  GIS_X_AXIS                 5646 non-null   float64
 37  GIS_Y_AXIS                 5646 non-null   float64
 38  LA                         0 non-null      float64
 39  SPT_FRSTT_DIST             5671 non-null   float64
 40  SPT_SAFE_CNTER_DIST        5671 non-null   float64
 41  SPT_LFDAU_DIST             5670 non-null   float64
 42  IGN_HTSRC_NM               5671 non-null   object
 43  IGN_HTSRC_SCLAS_NM         5671 non-null   object
 44  IGN_FCTR_LCLAS_NM          5671 non-null   object
 45  IGN_FCTR_SCLAS_NM          5671 non-null   object
 46  FRST_IGOBJ_LCLAS_NM        5671 non-null   object
 47  FRST_IGOBJ_SCLAS_NM        5671 non-null   object
 48  IGN_MHRLS_LCLAS_NM         1209 non-null   object
 49  IGN_MHRLS_SCLAS_NM         1209 non-null   object
 50  CMBS_EXPOBJ_LCLAS_NM       391 non-null    object
 51  CMBS_EXPOBJ_SCLAS_NM       391 non-null    object
 52  FCLTY_PLACE_LCLAS_NM       5671 non-null   object
 53  FCLTY_PLACE_MCLAS_NM       5671 non-null   object
 54  FCLTY_PLACE_SCLAS_NM       5671 non-null   object
 55  IGN_FLOOR_NM               4334 non-null   float64
 56  SOOT_AREA                  4479 non-null   float64
 57  FIO_JOIN_TRGT_YN           5671 non-null   object
 58  FRMNG_TRGT_YN              5671 non-null   object
 59  MUB_YN                     5671 non-null   object
 60  EMRG_CRG_OPER_YN           5671 non-null   object
 61  VHCLE_PLACE                373 non-null    object
 62  VHCLE_IGN_BHF              373 non-null    object
 63  FLD_FIRE_SE                16 non-null     object
 64  FLD_FIRE_IGN_BHF           16 non-null     object
 65  TIME_UNIT_TMPRT            5671 non-null   float64
 66  TIME_UNIT_RAINQTY          597 non-null    float64
 67  TIME_UNIT_WS               5650 non-null   float64
 68  TIME_UNIT_WD               5650 non-null   float64
 69  TIME_UNIT_HUMIDITY         5671 non-null   int64
 70  TIME_UNIT_MSNF             157 non-null    float64
 71  TIME_UNIT_VISIBILITY_DIST  5671 non-null   int64
dtypes: float64(19), int64(17), object(36)
memory usage: 3.1+ MB

In [90]:
df['time_unit'].unique()

array([ 709,  763,  938, ..., 1350,  423,  656])

In [93]:
df1['GRID_ID'].unique()

array(['다사46a41a', '다사62b45a', '다사66b49a', ..., '다사47b61a', '다사60a61a',
       '다사64b48b'], dtype=object)